* {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

#canvas {
  background: #82CAFF;
  height: 100vh;
  width: 100vw;
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 10px;
}

#start-button {
  color: #f7f7f7;
  padding: 15px;
  border: 2px solid #f7f7f7;
  background: none;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: .3s;
  cursor: pointer;
}

#start-button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  right: 0;
  bottom: 0;
  background: #f7f7f7;
  transition: .3s;
}

#start-button:hover:after {
  width: 100%;
  left: 0;
}
